

html {
    font-family: Helvetica;
}

body {
    margin: 0;
	width: 720px;
	display: flex;
}

.post-header {
	display: flex;
	justify-content: space-between;
	height: 50px;
	padding: 5px;
}

.post-header-left {
	display: flex;
}

.post-header-right {
}

.avatar {
	height: 40px;
}

.engagement-icons-left {
	height: 50px;
}
